.body {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  padding: 30px;
}

.borderLeft {
  border-left: 1px solid #ececec;
}
